/* @media screen and (max-width:767px){
    .cont_img_oracle{
        display: grid;
        position: relative;
        right: 15%;
    }
    .cont-entidad{
        position: relative;
        left: 20%;
        height: 15vh;
    }
    .entidad-img{
        position: relative;
        left: 12%;
    }
    .actuales_h2_estudio{
        width: 100%;
    }
    
} */